* {
  padding: -0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff; }

.sky-wrap {
  position: relative;
  z-index: 1; }

.star-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-perspective-origin: 0% 0%;
  perspective-origin: 0% 0%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }

.skybg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#223c68), to(#66b6b2));
  background-image: -webkit-linear-gradient(top, #223c68, #66b6b2);
  background-image: -o-linear-gradient(top, #223c68, #66b6b2);
  background-image: linear-gradient(to bottom, #223c68, #66b6b2);
  z-index: -2; }

.star {
  position: absolute;
  background-size: contain;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat; }

.star1 {
  width: 14.4px;
  height: 14.4px;
  top: 24%;
  left: 77%;
  opacity: 0.3;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star1:before, .star1:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star1:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star2 {
  width: 13.2px;
  height: 13.2px;
  top: 75%;
  left: 33%;
  opacity: 0.8;
  -webkit-transform: translateZ(-3px) scale(2);
  transform: translateZ(-3px) scale(2); }
  .star2:before, .star2:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star2:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star3 {
  width: 13.2px;
  height: 13.2px;
  top: 39%;
  left: 72%;
  opacity: 0.8;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star3:before, .star3:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star3:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star4 {
  width: 13.2px;
  height: 13.2px;
  top: 24%;
  left: 27%;
  opacity: 0.1;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star4:before, .star4:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star4:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star5 {
  width: 13.2px;
  height: 13.2px;
  top: 51%;
  left: 6%;
  opacity: 0.3;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star5:before, .star5:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star5:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star6 {
  width: 13.2px;
  height: 13.2px;
  top: 76%;
  left: 38%;
  opacity: 0.6;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star6:before, .star6:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star6:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star7 {
  width: 14.4px;
  height: 14.4px;
  top: 33%;
  left: 48%;
  opacity: 0.6;
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }
  .star7:before, .star7:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star7:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star8 {
  width: 14.4px;
  height: 14.4px;
  top: 74%;
  left: 87%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star8:before, .star8:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star8:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star9 {
  width: 14.4px;
  height: 14.4px;
  top: 48%;
  left: 47%;
  opacity: 0.8;
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1); }
  .star9:before, .star9:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star9:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star10 {
  width: 13.2px;
  height: 13.2px;
  top: 88%;
  left: 95%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star10:before, .star10:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star10:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star11 {
  width: 13.2px;
  height: 13.2px;
  top: 68%;
  left: 8%;
  opacity: 0.7;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star11:before, .star11:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star11:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star12 {
  width: 13.2px;
  height: 13.2px;
  top: 44%;
  left: 80%;
  opacity: 0.3;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star12:before, .star12:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star12:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star13 {
  width: 14.4px;
  height: 14.4px;
  top: 42%;
  left: 90%;
  opacity: 0.3;
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }
  .star13:before, .star13:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star13:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star14 {
  width: 13.2px;
  height: 13.2px;
  top: 43%;
  left: 33%;
  opacity: 0.7;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star14:before, .star14:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star14:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star15 {
  width: 13.2px;
  height: 13.2px;
  top: 13%;
  left: 42%;
  opacity: 0.8;
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }
  .star15:before, .star15:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star15:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star16 {
  width: 13.2px;
  height: 13.2px;
  top: 28%;
  left: 28%;
  opacity: 0.5;
  -webkit-transform: translateZ(-3px) scale(2);
  transform: translateZ(-3px) scale(2); }
  .star16:before, .star16:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star16:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star17 {
  width: 14.4px;
  height: 14.4px;
  top: 47%;
  left: 10%;
  opacity: 0.1;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star17:before, .star17:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star17:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star18 {
  width: 13.2px;
  height: 13.2px;
  top: 7%;
  left: 58%;
  opacity: 0.1;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star18:before, .star18:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star18:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star19 {
  width: 14.4px;
  height: 14.4px;
  top: 19%;
  left: 24%;
  opacity: 0.5;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star19:before, .star19:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star19:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star20 {
  width: 13.2px;
  height: 13.2px;
  top: 37%;
  left: 40%;
  opacity: 0.6;
  -webkit-transform: translateZ(-3px) scale(3);
  transform: translateZ(-3px) scale(3); }
  .star20:before, .star20:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star20:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star21 {
  width: 14.4px;
  height: 14.4px;
  top: 83%;
  left: 23%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star21:before, .star21:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star21:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star22 {
  width: 14.4px;
  height: 14.4px;
  top: 89%;
  left: 63%;
  opacity: 0.7;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star22:before, .star22:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star22:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star23 {
  width: 13.2px;
  height: 13.2px;
  top: 1%;
  left: 13%;
  opacity: 0.7;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star23:before, .star23:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star23:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star24 {
  width: 13.2px;
  height: 13.2px;
  top: 27%;
  left: 24%;
  opacity: 0.8;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star24:before, .star24:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star24:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star25 {
  width: 14.4px;
  height: 14.4px;
  top: 76%;
  left: 69%;
  opacity: 0.7;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star25:before, .star25:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star25:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star26 {
  width: 14.4px;
  height: 14.4px;
  top: 69%;
  left: 55%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star26:before, .star26:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star26:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star27 {
  width: 14.4px;
  height: 14.4px;
  top: 36%;
  left: 2%;
  opacity: 0.2;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star27:before, .star27:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star27:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star28 {
  width: 14.4px;
  height: 14.4px;
  top: 83%;
  left: 40%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star28:before, .star28:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star28:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star29 {
  width: 14.4px;
  height: 14.4px;
  top: 68%;
  left: 54%;
  opacity: 0.1;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star29:before, .star29:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star29:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star30 {
  width: 14.4px;
  height: 14.4px;
  top: 40%;
  left: 37%;
  opacity: 0.5;
  -webkit-transform: translateZ(-3px) scale(3);
  transform: translateZ(-3px) scale(3); }
  .star30:before, .star30:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star30:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star31 {
  width: 13.2px;
  height: 13.2px;
  top: 97%;
  left: 36%;
  opacity: 0.1;
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1); }
  .star31:before, .star31:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star31:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star32 {
  width: 14.4px;
  height: 14.4px;
  top: 73%;
  left: 77%;
  opacity: 0.4;
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1); }
  .star32:before, .star32:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star32:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star33 {
  width: 13.2px;
  height: 13.2px;
  top: 49%;
  left: 27%;
  opacity: 0.2;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star33:before, .star33:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star33:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star34 {
  width: 13.2px;
  height: 13.2px;
  top: 31%;
  left: 83%;
  opacity: 0.3;
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }
  .star34:before, .star34:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star34:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star35 {
  width: 13.2px;
  height: 13.2px;
  top: 100%;
  left: 9%;
  opacity: 0.5;
  -webkit-transform: translateZ(-3px) scale(2);
  transform: translateZ(-3px) scale(2); }
  .star35:before, .star35:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star35:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star36 {
  width: 14.4px;
  height: 14.4px;
  top: 45%;
  left: 14%;
  opacity: 0.5;
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1); }
  .star36:before, .star36:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star36:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star37 {
  width: 14.4px;
  height: 14.4px;
  top: 65%;
  left: 86%;
  opacity: 0.7;
  -webkit-transform: translateZ(-3px) scale(3);
  transform: translateZ(-3px) scale(3); }
  .star37:before, .star37:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star37:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star38 {
  width: 13.2px;
  height: 13.2px;
  top: 61%;
  left: 76%;
  opacity: 0.6;
  -webkit-transform: translateZ(-3px) scale(2);
  transform: translateZ(-3px) scale(2); }
  .star38:before, .star38:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star38:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star39 {
  width: 13.2px;
  height: 13.2px;
  top: 65%;
  left: 98%;
  opacity: 0.2;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star39:before, .star39:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star39:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star40 {
  width: 14.4px;
  height: 14.4px;
  top: 76%;
  left: 77%;
  opacity: 0.7;
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }
  .star40:before, .star40:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star40:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star41 {
  width: 13.2px;
  height: 13.2px;
  top: 14%;
  left: 22%;
  opacity: 0.3;
  -webkit-transform: translateZ(-3px) scale(2);
  transform: translateZ(-3px) scale(2); }
  .star41:before, .star41:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star41:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star42 {
  width: 14.4px;
  height: 14.4px;
  top: 36%;
  left: 47%;
  opacity: 0.2;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star42:before, .star42:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star42:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star43 {
  width: 13.2px;
  height: 13.2px;
  top: 41%;
  left: 87%;
  opacity: 0.1;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star43:before, .star43:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star43:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star44 {
  width: 13.2px;
  height: 13.2px;
  top: 20%;
  left: 5%;
  opacity: 0.1;
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }
  .star44:before, .star44:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star44:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star45 {
  width: 13.2px;
  height: 13.2px;
  top: 53%;
  left: 57%;
  opacity: 0.6;
  -webkit-transform: translateZ(-3px) scale(3);
  transform: translateZ(-3px) scale(3); }
  .star45:before, .star45:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star45:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star46 {
  width: 14.4px;
  height: 14.4px;
  top: 54%;
  left: 93%;
  opacity: 0.5;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star46:before, .star46:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star46:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star47 {
  width: 14.4px;
  height: 14.4px;
  top: 46%;
  left: 37%;
  opacity: 0.8;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star47:before, .star47:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star47:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star48 {
  width: 14.4px;
  height: 14.4px;
  top: 29%;
  left: 10%;
  opacity: 0.8;
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }
  .star48:before, .star48:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star48:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star49 {
  width: 13.2px;
  height: 13.2px;
  top: 64%;
  left: 32%;
  opacity: 0.8;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star49:before, .star49:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star49:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star50 {
  width: 13.2px;
  height: 13.2px;
  top: 91%;
  left: 4%;
  opacity: 0.1;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star50:before, .star50:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star50:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star51 {
  width: 14.4px;
  height: 14.4px;
  top: 33%;
  left: 79%;
  opacity: 0.4;
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1); }
  .star51:before, .star51:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star51:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star52 {
  width: 13.2px;
  height: 13.2px;
  top: 57%;
  left: 37%;
  opacity: 0.3;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star52:before, .star52:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star52:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star53 {
  width: 14.4px;
  height: 14.4px;
  top: 38%;
  left: 99%;
  opacity: 0.4;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star53:before, .star53:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star53:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star54 {
  width: 14.4px;
  height: 14.4px;
  top: 46%;
  left: 15%;
  opacity: 0.5;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star54:before, .star54:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star54:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star55 {
  width: 14.4px;
  height: 14.4px;
  top: 57%;
  left: 58%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star55:before, .star55:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star55:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star56 {
  width: 13.2px;
  height: 13.2px;
  top: 62%;
  left: 41%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star56:before, .star56:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star56:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star57 {
  width: 14.4px;
  height: 14.4px;
  top: 83%;
  left: 64%;
  opacity: 0.4;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star57:before, .star57:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star57:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star58 {
  width: 14.4px;
  height: 14.4px;
  top: 36%;
  left: 45%;
  opacity: 0.6;
  -webkit-transform: translateZ(-3px) scale(3);
  transform: translateZ(-3px) scale(3); }
  .star58:before, .star58:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star58:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star59 {
  width: 14.4px;
  height: 14.4px;
  top: 36%;
  left: 7%;
  opacity: 0.6;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star59:before, .star59:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star59:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star60 {
  width: 14.4px;
  height: 14.4px;
  top: 33%;
  left: 16%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star60:before, .star60:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star60:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star61 {
  width: 14.4px;
  height: 14.4px;
  top: 54%;
  left: 44%;
  opacity: 0.2;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star61:before, .star61:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star61:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star62 {
  width: 13.2px;
  height: 13.2px;
  top: 97%;
  left: 58%;
  opacity: 0.8;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2); }
  .star62:before, .star62:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star62:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star63 {
  width: 13.2px;
  height: 13.2px;
  top: 100%;
  left: 11%;
  opacity: 0.3;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star63:before, .star63:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star63:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star64 {
  width: 13.2px;
  height: 13.2px;
  top: 55%;
  left: 92%;
  opacity: 0.6;
  -webkit-transform: translateZ(-1px) scale(3);
  transform: translateZ(-1px) scale(3); }
  .star64:before, .star64:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star64:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star65 {
  width: 14.4px;
  height: 14.4px;
  top: 90%;
  left: 80%;
  opacity: 0.1;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star65:before, .star65:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star65:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star66 {
  width: 14.4px;
  height: 14.4px;
  top: 61%;
  left: 68%;
  opacity: 0.3;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star66:before, .star66:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star66:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star67 {
  width: 13.2px;
  height: 13.2px;
  top: 57%;
  left: 9%;
  opacity: 0.5;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star67:before, .star67:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star67:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star68 {
  width: 14.4px;
  height: 14.4px;
  top: 69%;
  left: 14%;
  opacity: 0.4;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star68:before, .star68:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star68:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star69 {
  width: 13.2px;
  height: 13.2px;
  top: 39%;
  left: 80%;
  opacity: 0.1;
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1); }
  .star69:before, .star69:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star69:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star70 {
  width: 13.2px;
  height: 13.2px;
  top: 41%;
  left: 42%;
  opacity: 0.7;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star70:before, .star70:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star70:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star71 {
  width: 13.2px;
  height: 13.2px;
  top: 97%;
  left: 14%;
  opacity: 0.4;
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1); }
  .star71:before, .star71:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star71:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star72 {
  width: 13.2px;
  height: 13.2px;
  top: 49%;
  left: 29%;
  opacity: 0.3;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star72:before, .star72:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star72:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star73 {
  width: 13.2px;
  height: 13.2px;
  top: 77%;
  left: 38%;
  opacity: 0.4;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star73:before, .star73:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star73:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star74 {
  width: 13.2px;
  height: 13.2px;
  top: 10%;
  left: 1%;
  opacity: 0.3;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star74:before, .star74:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star74:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star75 {
  width: 13.2px;
  height: 13.2px;
  top: 24%;
  left: 85%;
  opacity: 0.4;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star75:before, .star75:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star75:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star76 {
  width: 14.4px;
  height: 14.4px;
  top: 65%;
  left: 32%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(1);
  transform: translateZ(-2px) scale(1); }
  .star76:before, .star76:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star76:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star77 {
  width: 13.2px;
  height: 13.2px;
  top: 82%;
  left: 83%;
  opacity: 0.1;
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2); }
  .star77:before, .star77:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star77:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star78 {
  width: 14.4px;
  height: 14.4px;
  top: 26%;
  left: 46%;
  opacity: 0.2;
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3); }
  .star78:before, .star78:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star78:after {
    top: 10.38px;
    -webkit-transform: translateY(-5.19px);
    -ms-transform: translateY(-5.19px);
    transform: translateY(-5.19px);
    border-width: 10.38px 6px 0 6px;
    border-color: #fff transparent transparent transparent; }

.star79 {
  width: 13.2px;
  height: 13.2px;
  top: 82%;
  left: 34%;
  opacity: 0.7;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star79:before, .star79:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star79:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.star80 {
  width: 13.2px;
  height: 13.2px;
  top: 65%;
  left: 71%;
  opacity: 0.2;
  -webkit-transform: translateZ(-3px) scale(1);
  transform: translateZ(-3px) scale(1); }
  .star80:before, .star80:after {
    content: "";
    width: 100%;
    height: 0;
    width: 0;
    height: 0;
    position: absolute; }
  .star80:after {
    top: 9.515px;
    -webkit-transform: translateY(-4.7575px);
    -ms-transform: translateY(-4.7575px);
    transform: translateY(-4.7575px);
    border-width: 9.515px 5.5px 0 5.5px;
    border-color: #fff transparent transparent transparent; }

.mainpage {
  position: relative; }

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px; }

.logo {
  padding: 10vh 0 0;
  max-width: 60%;
  -webkit-transform: translate(50%, 0, -1px) scale(2);
  -ms-transform: translate(50%, 0, -1px) scale(2);
  transform: translate(50%, 0, -1px) scale(2); }

.m-auto {
  margin: 0 auto;
  display: block; }

img {
  width: 100%; }

.boy img {
  max-width: 30%;
  -webkit-transform: translate(50%, 0, -2px) scale(2);
  -ms-transform: translate(50%, 0, -2px) scale(2);
  transform: translate(50%, 0, -2px) scale(2); }

.text-center {
  text-align: center; }

h3 {
  margin-bottom: 1rem; }

p {
  line-height: 180%;
  letter-spacing: 1px; }

.p-3 {
  padding: 1rem; }

.test {
  padding: 10vh 0; }

.clouds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 10vw; }
  .clouds .cloud {
    max-width: 30vw; }

.land {
  position: relative;
  z-index: 0; }
  .land > div {
    width: 100%; }
    .land > div:nth-child(2) {
      margin-top: -40%;
      background: #BED553; }
  .land .tree {
    position: absolute;
    bottom: -6px; }

.focus {
  padding: 20px;
  z-index: 3;
  background-color: #9AB81B; }
